:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.suggestions{
  display: "flex";
  list-style: none;
  flex-direction: "column";
  /* justify-content: flex-start; */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
input[type=text]{
  padding: 2vh 5vh;
  outline: none;
  border: none;
}

input[type=submit]{
  padding: 1.7vh 2vh;
}

ul{
  box-shadow: 0px 0px 2px 1px grey;
  width: 17vw;
  text-align: left;
}

ul>li{
  padding: 1vh 0;
  border: 0.1px solid rgba(255, 255, 255, 0.365);
  padding-left: 2vh;
}
